body {
  padding-top: 56px;
}

#cy{
width:1500px; 
height: 900px; 
position: absolute;
}

#button_reset{
}

.col-2 {
background-color:#424242; 
padding-bottom: 840px;
}

.nav-item {
  color: white;
}

.table-fixed thead {
  width: 97%;
}
.table-fixed tbody {
  height: 230px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}

